@font-face {
	font-family: FE-FONT;
	src: url('../src/assets/fonts/FE-FONT.TTF');
	font-style: normal;
	font-size-adjust: none;
}

@font-face {
	font-family: Catamaran;
	src: url('../src/assets/fonts/Catamaran-VariableFont_wght.ttf');
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
}

.App {
	font-family: sans-serif;
	text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

#app-wrapper {
	height: 500px;
}

#app-wrapper > div {
	font-family: 'Catamaran', sans-serif;
}

#app-wrapper > div > p {
	font-size: 20px;
}

#converter{
	display: flex;
	justify-content: center;
}

.input-field {
	width: 100%;
	border: 0;
	border-bottom: 1px solid;
	font-family: inherit;
	font-size: 26px;
	padding-left: 10px;
	line-height: 0;
}

.plate-error {
	color: tomato;
	border-bottom-color: tomato;
}

#converter button {
	margin-left: 10px;
	border: 0;
	border-radius: 10px;
	cursor: pointer;
	background-color: #003399;
	color: #fff;
	font-family: inherit;
	font-size: 26px;
	padding: 0 10px;
}

#input-area {
	position: relative;
	width: 140px;
}

#input-area span {
	position: absolute;
	color: tomato;
	bottom: -20px;
	left: 0;
	right: 0;
	font-size: 12px;
}

@media screen and (max-width: 1023px) {

	.App {
		display: block;
		height: auto;
	}

    #app-wrapper {
        height: auto;
		padding: 70px 0;
	}
}